.menu {
    border: 3px solid black;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        background-color: #999;
    }
}

.articles {
    border: 5px solid green;
    height: 300px;
    background-color: gray;
    line-height: 50px;
    text-align: center;

    &__item {
        border: 2px dotted red;
        height: 50px;
        margin: 5px;
    }
}